<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.acadiatech.telecom.box"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:label="Test For Telecom_box"
        android:targetPackage="cn.acadiatech.telecom.box" />

    <application
        android:name="cn.acadiatech.telecom.box.ControlApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="cn.acadiatech.telecom.box.provider.UserProvider"
            android:authorities="cn.acadiatech.telecom.box.provider.userProvider" />
        <provider
            android:name="cn.acadiatech.telecom.box.provider.RoleProvider"
            android:authorities="cn.acadiatech.telecom.box.provider.roleProvider" />

        <receiver android:name="cn.acadiatech.telecom.box.receiver.BootReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

        <service
            android:name="cn.acadiatech.telecom.box.service.SmartControlService"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>
        <service
            android:name="cn.acadiatech.telecom.box.service.ReadDeviceService"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>
    </application>

</manifest>